<!doctype html>
<html lang="en" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>>
	<head>
		<meta name=viewport content="width=device-width, initial-scale=1">

		<!-- also in manifest.json -->
		<meta name="theme-color" content="#ffaa00">

		<title><%= htmlWebpackPlugin.options.title || 'Webapp Title' %></title>

		<% if (htmlWebpackPlugin.files.favicon) { %>
		<link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
		<% } %>
	</head>

	<body>
		<noscript>
			To use this webapp, please enable JavaScript.
		</noscript>

		<div id="react-root"></div>
	</body>
</html>
